$icon-font-path: '../fonts/';
$margin-hf: 15px;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 5px;
  }
}

.text-muted{
  text-align:center;
}
/* Custom page footer */
.footer {
  padding-top: 10px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 1000px) {
  .container {
    min-width: 1000px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: $margin-hf;
  }

  /* Space out the mastfoot */
  .footer {
    margin-top: $margin-hf;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.part{
  display: inline-block;
  width: 48%;
  vertical-align: top;
}
.part-name {
  font-size: 19px;
  margin-bottom: 10px;
  font-weight:bold;
}
.form-area, .document-area {
  border: 1px solid #ddd;
  background: none repeat scroll 0 0 #fff;
  padding: 10px 26px 36px 26px;
  overflow: auto;
}
.form-part-name {
  font-size: 14px;
  margin-top: 20px;
  font-weight:bold;
  margin-left: 10px;

}
.form-line {
  margin-left: 10px;
  margin-top: 15px;
}
.name, .adress {
  display: inline-block;
  margin-right: 10px;
}
#birth-day, #birth-month, #birth-year {
  margin-right: 10px;
}
.sbm {
  margin-top:10px;
}
label {
  font-weight: normal;
  margin-bottom:2px;
}
.small {
  width:100px;
}
.medium {
  width:180px;
}
input[type='text'], select {
  height:30px;
  border-radius: 0px;
  border:1px solid #ddd;
  background-color: #fff;
}
input[type='submit']{
    background: #009933;
    background: -webkit-gradient(linear,left top,left bottom,from(#33CC33),to(#009933));
    background: -moz-linear-gradient(top,#33CC33,#009933);
    color: #fff;
    border:1px solid #ddd;
    border-radius: 5px;
    padding: 5px 20px;
}
input[type='radio']{
  margin-right: 5px;
}
.input-cont{
  display:inline-block;
  margin-right: 10px;
}
.document-header{
  text-align:center;
}
.doc-field, .doc-field-name{
  display: inline-block;
}
.doc-field-name{
  width:130px;
}
.doc-field-val{
  width: 300px;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}
.splice-val{
  display: inline-block;
}

