$icon-font-path: '../fonts/';
$margin-hf: 15px;
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

html{
  width: 100%;
  min-width: 1000px;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 10px;
  padding-bottom: 20px;
  width: 100%;
  min-width: 1000px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.content,
.footer {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
  margin: auto;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 5px;
  }
}

.text-muted{
  text-align:center;
}
/* Custom page footer */
.footer {
  padding-top: 10px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}
/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}
.content {
  min-width: 1000px;
}
.sale-form, .sale-document{
  display: inline-block;
  width: 48%;
  min-width: 480px;
  vertical-align: top;
  border: 1px solid #ddd;
  background: none repeat scroll 0 0 #fff;
  padding: 15px 26px 25px 26px;
  margin-right: 10px;
  margin-left: 10px;
}
.document-header{
  text-align:center;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 1000px) {
  .header,
  .content,
  .footer {
    min-width: 1000px;
    max-width: 1200px;
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: $margin-hf;
  }

  /* Space out the mastfoot */
  .footer {
    margin-top: $margin-hf;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


