mixin documentLine(attrFriendlyName, attrName, necessary)
  .sale-document--line
    .sale-document--attr #{attrFriendlyName}
      if !necessary
        sup   *
      |:
    .sale-document--val <%= #{attrName} %>
