.sale-form--name
  | Форма регистрации
form(action='url', onsubmit="return false;")
  .sale-form--part-name Данные о звезде
  .sale-form--line
    .sale-form--attr
      label Имя
      br
      input.__medium(type='text', data-js-attr='starName')
      .sale-form--attr--validation(data-js-attr-validation)
    .sale-form--attr
      label Величина
      br
      select.__medium(data-js-attr='starSize')
        option(disabled, selected)
          | выберите величину
        - var items = [11, 12, 13, 14, 15]
        - each item, i in items
          option('index'='#{i}') #{item}
      .sale-form--attr--validation(data-js-attr-validation)
  .sale-form--line
    .sale-form--attr
      label Созвездие
      br
      select.__medium(data-js-attr='starConstellation')
        option(disabled, selected)
          | выберите созвездие
        - var items = ['Андромеда', 'Близнецы', 'Большая Медведица', 'Большой Пес', 'Весы', 'Водолей', 'Возничий', 'Волк', 'Волопас', 'Волосы Вероники', 'Ворон', 'Геркулес', 'Гидра', 'Голубь', 'Гончие Псы', 'Дева', 'Дельфин', 'Дракон', 'Единорог', 'Жертвенник', 'Живописец', 'Жираф', 'Журавль', 'Заяц', 'Змееносец', 'Змея', 'Золотая', 'Рыба', 'Индеец', 'Кассиопея', 'Киль']
        - each item in items
          option= item
      .sale-form--attr--validation(data-js-attr-validation)
  br
  .sale-form--separate-line
  .sale-form--part-name Данные о покупателе
  .sale-form--line
    .sale-form--attr
      label Фамилия
      br
      input.__medium(type='text', data-js-attr='lastName')
      .sale-form--attr--validation(data-js-attr-validation)
    .sale-form--attr
      label Имя
      br
      input.__medium(type='text', data-js-attr='firstName')
      .sale-form--attr--validation(data-js-attr-validation)
  .sale-form--line
    .sale-form--attr
      label Отчество
      br
      input.__medium(type='text', data-js-attr='patronymic')
      .sale-form--attr--validation(data-js-attr-validation)
  .sale-form--line
    .sale-form--attr
      label Дата рождения
      br
      input.__small(type='text', data-js-attr='birthdate', maxlength='10', placeholder='дд.мм.гггг')
      .sale-form--attr--validation(data-js-attr-validation)
  .sale-form--line
    .sale-form--attr
      label Пол
      br
      input(type='radio', data-js-attr='sex', value='мужской')
      | муж&nbsp;&nbsp;&nbsp;
      input(type='radio', data-js-attr='sex', value='женский')
      | жен
      .sale-form--attr--validation(data-js-attr-validation)
  .sale-form--line
    .sale-form--attr
      label Страна
      br
      select.__medium(data-js-attr='country')
        option(disabled, selected)
          | выберите страну
        - var items = ['Россия', 'Украина', 'Беларусь']
        - each item in items
          option= item
      .sale-form--attr--validation(data-js-attr-validation)
  .sale-form--line
    .sale-form--attr
      label Телефон
        sup   *
      br
      input.__medium(type='text', data-js-attr='phone', placeholder='+7 (___) ___-__-__')
  .sale-form--line
    .sale-form--attr
      label Адрес эл. почты
        sup   *
      br
      input.__medium(type='text', data-js-attr='email', placeholder='example@mail.ru')
  .sale-form--line
    input.sale-form--submit(type='submit', value='Сохранить')
    .sale-form--submit--validation(data-js-submit-validation)
