include ../../mixin/SaleDocumentMixin

.sale-document
  h3 Данные о покупке
  h4 Данные о звезде
  +documentLine('Имя', 'starName', true)
  +documentLine('Величина', 'starSize', true)
  +documentLine('Созвездие', 'starConstellation', true)
  sale-document--separate-line
  h4  Данные о покупателе
  .sale-document--line
    .sale-document--attr ФИО:
    .sale-document--val
      span <%= lastName %>
      span <%= firstName %>
      span <%= patronymic %>
  +documentLine('Дата рождения', 'birthdate', true)
  +documentLine('Пол', 'sex', true)
  +documentLine('Страна', 'country', true)
  +documentLine('Телефон', 'phone', false)
  +documentLine('Адрес эл. почты', 'email', false)
