include ../../mixin/SaleDocumentMixin

.sale-document
  h3 Данные о покупке
  h4 Данные о звезде
  +documentLine('Имя', true)('data-js-star-name')
  +documentLine('Величина', true)('data-js-star-size')
  +documentLine('Созвездие', true)('data-js-star-constellation')
  sale-document--separate-line
  h4  Данные о покупателе
  +documentLine('ФИО', true)('data-js-fullname')
  +documentLine('Дата рождения', true)('data-js-birthdate')
  +documentLine('Пол', true)('data-js-sex')
  +documentLine('Страна', true)('data-js-country')
  +documentLine('Телефон', false)('data-js-phone')
  +documentLine('Адрес эл. почты', false)('data-js-email')
